<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Promise Steps</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body bgcolor="#474444">

<div>
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>
    <div ng-controller="FirstController">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>

    <div ng-controller="SecondController">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>
</div>

<script src="../node_modules/angular/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>